Mais sobre o package config ver <a href='https://www.youtube.com/watch?v=Gdw0-QGq-z0'>esse</a>

---
Testando o que foi falado no video:

In [3]:
from configparser import ConfigParser

In [4]:
file = 'config.ini'

config = ConfigParser()
config.read(file)

['config.ini']

In [6]:
print(config.sections())

['account', 'client']

In [7]:
print(config['account'])

<Section: account>

In [8]:
print(list(config['account']))

['status', 'id', 'pin']

In [9]:
print(list(config['client']))

['name', 'surname', 'profession']

In [10]:
print(config['account']['pin'])

3627

In [11]:
# Updating the config

config.add_section('bank')
config.set('bank','name', 'hsbc')

In [12]:
with open(file,'w') as configfile:
    config.write(configfile)

---

We’re going to request records from The Movie Database API. Before we get started, you will need to obtain an API key to make requests. You can find the instructions for obtaining a key <a href='https://developers.themoviedb.org/3/getting-started/authentication'>here</a>.
Once you have your key, you will need to make sure you don’t put it directly into your source code. One quick way to do this is to create a file called config.py in the same directory you will be creating your ETL script in. Put this into the file:

In [ ]:
#config.py
api_key = <YOUR API KEY HERE>

In [16]:
#!pip install config

Collecting config
  Downloading config-0.5.1-py2.py3-none-any.whl (20 kB)
Installing collected packages: config
Successfully installed config-0.5.1

In [17]:
import pandas as pd
import requests
import config

In [24]:
response_list = []
API_KEY = config.api_key

AttributeError: module 'config' has no attribute 'api_key'

In [ ]:
for movie_id in range(550,556):
    r = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, API_KEY))
    response_list.append(r.json())

In [ ]:
df = pd.DataFrame.from_dict(response_list)
genres_list = df['genres'].tolist()
flat_list = [item for sublist in genres_list for item in sublist]

In [ ]:
result = []
for l in genres_list:
    r = []
    for d in l:
        r.append(d['name'])
    result.append(r)
df = df.assign(genres_all=result)

In [ ]:
df_genres = pd.DataFrame.from_records(flat_list).drop_duplicates()

In [ ]:
df_columns = ['budget', 'id', 'imdb_id', 'original_title', 'release_date', 'revenue', 'runtime']
df_genre_columns = df_genres['name'].to_list()
df_columns.extend(df_genre_columns)
s = df['genres_all'].explode()
df = df.join(pd.crosstab(s.index, s))

In [ ]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['day'] = df['release_date'].dt.day
df['month'] = df['release_date'].dt.month
df['year'] = df['release_date'].dt.year
df['day_of_week'] = df['release_date'].dt.day_name()
df_time_columns = ['id', 'release_date', 'day', 'month', 'year', 'day_of_week']

In [ ]:
df[df_columns].to_csv('tmdb_movies.csv', index=False)
df_genres.to_csv('tmdb_genres.csv', index=False)
df[df_time_columns].to_csv('tmdb_datetimes.csv', index=False)

---

# Interator Functions fo Efficient Looping:

https://github.com/CoreyMSchafer

In [1]:
import itertools

In [3]:
counter = itertools.count()

In [8]:
data = [100, 200, 300, 400]

daily_data = list(zip(itertools.count(),data))

In [9]:
daily_data

[(0, 100), (1, 200), (2, 300), (3, 400)]

In [11]:
counter = itertools.count()
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

0
1
2
3
4

In [12]:
counter = itertools.count(start=5, step=5)
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

5
10
15
20
25

In [13]:
counter = itertools.count(start=5, step=-2.5)
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

5
2.5
0.0
-2.5
-5.0

In [15]:
data = [100, 200, 300, 400]

daily_data = list(zip(range(10),data))  # it stops when the data(the shortest in the list) ends
daily_data

[(0, 100), (1, 200), (2, 300), (3, 400)]

In [16]:
data = [100, 200, 300, 400]

daily_data = list(itertools.zip_longest(range(10),data))  # it stops when the data(the shortest in the list) ends
daily_data

[(0, 100),
 (1, 200),
 (2, 300),
 (3, 400),
 (4, None),
 (5, None),
 (6, None),
 (7, None),
 (8, None),
 (9, None)]

In [18]:
counter = itertools.cycle([1,2,3])
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

1
2
3
1
2

In [20]:
counter = itertools.cycle(('On','Off'))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

On
Off
On
Off
On

In [22]:
counter = itertools.repeat(('On','Off'), times=3)
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))
print(next(counter))

('On', 'Off')
('On', 'Off')
('On', 'Off')

StopIteration:

In [24]:
counter = itertools.repeat(2, times=3)

squares = map(pow, range(10), itertools.repeat(2))
print(list(squares))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
counter = itertools.repeat(2, times=3)

squares = itertools.starmap(pow, [(0,2),(1,2),(2,2)])
print(list(squares))

[0, 1, 4]

In [31]:
letters = ['a','b','c','d']
numbers = [0,1,2,3]
names = ['Corey', 'Nicole']

result = itertools.combinations(letters, 2)
result2 = itertools.permutations(letters, 2)

print('Combination')
for item in result:
    print(item)
    
print('--'*10)   
print('Permutation')
for item in result2:
    print(item)

Combination
('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')
--------------------
Permutation
('a', 'b')
('a', 'c')
('a', 'd')
('b', 'a')
('b', 'c')
('b', 'd')
('c', 'a')
('c', 'b')
('c', 'd')
('d', 'a')
('d', 'b')
('d', 'c')

In [32]:
# don't matter the sequence
result3 = itertools.product(numbers, repeat=4)

for i in result3:
    print(i)

(0, 0, 0, 0)
(0, 0, 0, 1)
(0, 0, 0, 2)
(0, 0, 0, 3)
(0, 0, 1, 0)
(0, 0, 1, 1)
(0, 0, 1, 2)
(0, 0, 1, 3)
(0, 0, 2, 0)
(0, 0, 2, 1)
(0, 0, 2, 2)
(0, 0, 2, 3)
(0, 0, 3, 0)
(0, 0, 3, 1)
(0, 0, 3, 2)
(0, 0, 3, 3)
(0, 1, 0, 0)
(0, 1, 0, 1)
(0, 1, 0, 2)
(0, 1, 0, 3)
(0, 1, 1, 0)
(0, 1, 1, 1)
(0, 1, 1, 2)
(0, 1, 1, 3)
(0, 1, 2, 0)
(0, 1, 2, 1)
(0, 1, 2, 2)
(0, 1, 2, 3)
(0, 1, 3, 0)
(0, 1, 3, 1)
(0, 1, 3, 2)
(0, 1, 3, 3)
(0, 2, 0, 0)
(0, 2, 0, 1)
(0, 2, 0, 2)
(0, 2, 0, 3)
(0, 2, 1, 0)
(0, 2, 1, 1)
(0, 2, 1, 2)
(0, 2, 1, 3)
(0, 2, 2, 0)
(0, 2, 2, 1)
(0, 2, 2, 2)
(0, 2, 2, 3)
(0, 2, 3, 0)
(0, 2, 3, 1)
(0, 2, 3, 2)
(0, 2, 3, 3)
(0, 3, 0, 0)
(0, 3, 0, 1)
(0, 3, 0, 2)
(0, 3, 0, 3)
(0, 3, 1, 0)
(0, 3, 1, 1)
(0, 3, 1, 2)
(0, 3, 1, 3)
(0, 3, 2, 0)
(0, 3, 2, 1)
(0, 3, 2, 2)
(0, 3, 2, 3)
(0, 3, 3, 0)
(0, 3, 3, 1)
(0, 3, 3, 2)
(0, 3, 3, 3)
(1, 0, 0, 0)
(1, 0, 0, 1)
(1, 0, 0, 2)
(1, 0, 0, 3)
(1, 0, 1, 0)
(1, 0, 1, 1)
(1, 0, 1, 2)
(1, 0, 1, 3)
(1, 0, 2, 0)
(1, 0, 2, 1)
(1, 0, 2, 2)
(1, 0, 2, 3)
(1, 0, 3, 0)
(1, 0, 3, 1)
(1, 0, 3, 2)
(1, 0, 3, 3)
(1, 1, 0, 0)
(1, 1, 0, 1)
(1, 1, 0, 2)
(1, 1, 0, 3)
(1, 1, 1, 0)
(1, 1, 1, 1)
(1, 1, 1, 2)
(1, 1, 1, 3)
(1, 1, 2, 0)
(1, 1, 2, 1)
(1, 1, 2, 2)
(1, 1, 2, 3)
(1, 1, 3, 0)
(1, 1, 3, 1)
(1, 1, 3, 2)
(1, 1, 3, 3)
(1, 2, 0, 0)
(1, 2, 0, 1)
(1, 2, 0, 2)
(1, 2, 0, 3)
(1, 2, 1, 0)
(1, 2, 1, 1)
(1, 2, 1, 2)
(1, 2, 1, 3)
(1, 2, 2, 0)
(1, 2, 2, 1)
(1, 2, 2, 2)
(1, 2, 2, 3)
(1, 2, 3, 0)
(1, 2, 3, 1)
(1, 2, 3, 2)
(1, 2, 3, 3)
(1, 3, 0, 0)
(1, 3, 0, 1)
(1, 3, 0, 2)
(1, 3, 0, 3)
(1, 3, 1, 0)
(1, 3, 1, 1)
(1, 3, 1, 2)
(1, 3, 1, 3)
(1, 3, 2, 0)
(1, 3, 2, 1)
(1, 3, 2, 2)
(1, 3, 2, 3)
(1, 3, 3, 0)
(1, 3, 3, 1)
(1, 3, 3, 2)
(1, 3, 3, 3)
(2, 0, 0, 0)
(2, 0, 0, 1)
(2, 0, 0, 2)
(2, 0, 0, 3)
(2, 0, 1, 0)
(2, 0, 1, 1)
(2, 0, 1, 2)
(2, 0, 1, 3)
(2, 0, 2, 0)
(2, 0, 2, 1)
(2, 0, 2, 2)
(2, 0, 2, 3)
(2, 0, 3, 0)
(2, 0, 3, 1)
(2, 0, 3, 2)
(2, 0, 3, 3)
(2, 1, 0, 0)
(2, 1, 0, 1)
(2, 1, 0, 2)
(2, 1, 0, 3)
(2, 1, 1, 0)
(2, 1, 1, 1)
(2, 1, 1, 2)
(2, 1, 1, 3)
(2, 1, 2, 0)
(2, 1, 2, 1)
(2, 1, 2, 2)
(2, 1, 2, 3)
(2, 1, 3, 0)
(2, 1, 3, 1)
(2, 1, 3, 2)
(2, 1, 3, 3)
(2, 2, 0, 0)
(2, 2, 0, 1)
(2, 2, 0, 2)
(2, 2, 0, 3)
(2, 2, 1, 0)
(2, 2, 1, 1)
(2, 2, 1, 2)
(2, 2, 1, 3)
(2, 2, 2, 0)
(2, 2, 2, 1)
(2, 2, 2, 2)
(2, 2, 2, 3)
(2, 2, 3, 0)
(2, 2, 3, 1)
(2, 2, 3, 2)
(2, 2, 3, 3)
(2, 3, 0, 0)
(2, 3, 0, 1)
(2, 3, 0, 2)
(2, 3, 0, 3)
(2, 3, 1, 0)
(2, 3, 1, 1)
(2, 3, 1, 2)
(2, 3, 1, 3)
(2, 3, 2, 0)
(2, 3, 2, 1)
(2, 3, 2, 2)
(2, 3, 2, 3)
(2, 3, 3, 0)
(2, 3, 3, 1)
(2, 3, 3, 2)
(2, 3, 3, 3)
(3, 0, 0, 0)
(3, 0, 0, 1)
(3, 0, 0, 2)
(3, 0, 0, 3)
(3, 0, 1, 0)
(3, 0, 1, 1)
(3, 0, 1, 2)
(3, 0, 1, 3)
(3, 0, 2, 0)
(3, 0, 2, 1)
(3, 0, 2, 2)
(3, 0, 2, 3)
(3, 0, 3, 0)
(3, 0, 3, 1)
(3, 0, 3, 2)
(3, 0, 3, 3)
(3, 1, 0, 0)
(3, 1, 0, 1)
(3, 1, 0, 2)
(3, 1, 0, 3)
(3, 1, 1, 0)
(3, 1, 1, 1)
(3, 1, 1, 2)
(3, 1, 1, 3)
(3, 1, 2, 0)
(3, 1, 2, 1)
(3, 1, 2, 2)
(3, 1, 2, 3)
(3, 1, 3, 0)
(3, 1, 3, 1)
(3, 1, 3, 2)
(3, 1, 3, 3)
(3, 2, 0, 0)
(3, 2, 0, 1)
(3, 2, 0, 2)
(3, 2, 0, 3)
(3, 2, 1, 0)
(3, 2, 1, 1)
(3, 2, 1, 2)
(3, 2, 1, 3)
(3, 2, 2, 0)
(3, 2, 2, 1)
(3, 2, 2, 2)
(3, 2, 2, 3)
(3, 2, 3, 0)
(3, 2, 3, 1)
(3, 2, 3, 2)
(3, 2, 3, 3)
(3, 3, 0, 0)
(3, 3, 0, 1)
(3, 3, 0, 2)
(3, 3, 0, 3)
(3, 3, 1, 0)
(3, 3, 1, 1)
(3, 3, 1, 2)
(3, 3, 1, 3)
(3, 3, 2, 0)
(3, 3, 2, 1)
(3, 3, 2, 2)
(3, 3, 2, 3)
(3, 3, 3, 0)
(3, 3, 3, 1)
(3, 3, 3, 2)
(3, 3, 3, 3)

In [33]:
# matter the sequence
result4 = itertools.combinations_with_replacement(numbers, 4)

for i in result4:
    print(i)

(0, 0, 0, 0)
(0, 0, 0, 1)
(0, 0, 0, 2)
(0, 0, 0, 3)
(0, 0, 1, 1)
(0, 0, 1, 2)
(0, 0, 1, 3)
(0, 0, 2, 2)
(0, 0, 2, 3)
(0, 0, 3, 3)
(0, 1, 1, 1)
(0, 1, 1, 2)
(0, 1, 1, 3)
(0, 1, 2, 2)
(0, 1, 2, 3)
(0, 1, 3, 3)
(0, 2, 2, 2)
(0, 2, 2, 3)
(0, 2, 3, 3)
(0, 3, 3, 3)
(1, 1, 1, 1)
(1, 1, 1, 2)
(1, 1, 1, 3)
(1, 1, 2, 2)
(1, 1, 2, 3)
(1, 1, 3, 3)
(1, 2, 2, 2)
(1, 2, 2, 3)
(1, 2, 3, 3)
(1, 3, 3, 3)
(2, 2, 2, 2)
(2, 2, 2, 3)
(2, 2, 3, 3)
(2, 3, 3, 3)
(3, 3, 3, 3)

In [36]:
#combined = 
combined = itertools.chain(letters, numbers , names)

for i in combined:
    print(i)

a
b
c
d
0
1
2
3
Corey
Nicole

In [38]:
result5 = itertools.islice(range(10), 1, 5, 2)  # start in 1 , stop in 5 step 2 by 2 

for i in result5:
    print(i)

1
3

In [44]:
with open('test.log.txt', 'r')as f:
    header = itertools.islice(f, 3)
    
    for line in header:
        print(line)

Date: 2018-11-08

Author: Corey

Description: This is a sample log file

In [45]:
with open('test.log.txt', 'r')as f:
    header = itertools.islice(f, 3)
    
    for line in header:
        print(line, end='')

Date: 2018-11-08
Author: Corey
Description: This is a sample log file

In [46]:
selectors = [True, True, False, True]

result = itertools.compress(letters, selectors)

for item in result:
    print(item)

a
b
d

In [48]:
def lt_2(n):
    if n<2:
        return True
    return False
    
result = filter(lt_2, numbers)
for item in result:
    print(item)

0
1

In [49]:
def lt_2(n):
    if n<2:
        return True
    return False
    
result = itertools.filterfalse(lt_2, numbers)
for item in result:
    print(item)

2
3

In [52]:
numbers = [0,1,2,3,2,1,0]

selectors = [True, True, False, True]
result = itertools.dropwhile(lt_2, numbers) # drop values from an iterator till it returns True, then return the rest, forgetting the filter

for item in result:
    print(item)

2
3
2
1
0

In [53]:
numbers = [0,1,2,3,2,1,0]

selectors = [True, True, False, True]
result = itertools.takewhile(lt_2, numbers) # the oposite of above

for item in result:
    print(item)

0
1

In [54]:
result = itertools.accumulate(numbers) 
for item in result:
    print(item)

0
1
3
6
8
9
9

In [55]:
import operator

In [56]:
numbers = [1,2,3,2,1,0]

result = itertools.accumulate(numbers, operator.mul) 
for item in result:
    print(item)

1
2
6
12
12
0

In [70]:
def get_state(person):
    return person['state']

people = [
    {
        'name': 'John Doe',
        'city': 'Gotham',
        'state': 'NY'
    },
    {
        'name': 'Jane Doe',
        'city': 'Kings Landing',
        'state': 'NY'
    },
    {
        'name': 'Corey Schafer',
        'city': 'Boulder',
        'state': 'CO'
    },
    {
        'name': 'Al Einstein',
        'city': 'Denver',
        'state': 'CO'
    },
    {
        'name': 'John Henry',
        'city': 'Hinton',
        'state': 'WV'
    },
    {
        'name': 'Randy Moss',
        'city': 'Rand',
        'state': 'WV'
    },
    {
        'name': 'Nicole K',
        'city': 'Asheville',
        'state': 'NC'
    },
    {
        'name': 'Jim Doe',
        'city': 'Charlotte',
        'state': 'NC'
    },
    {
        'name': 'Jane Taylor',
        'city': 'Faketown',
        'state': 'NC'
    }
]

person_group = itertools.groupby(people, get_state)

In [62]:
for key, group in person_group:
    print(key)
    for person in group:
        print(person)
    print()

NY
{'name': 'John Doe', 'city': 'Gotham', 'state': 'NY'}
{'name': 'Jane Doe', 'city': 'Kings Landing', 'state': 'NY'}

CO
{'name': 'Corey Schafer', 'city': 'Boulder', 'state': 'CO'}
{'name': 'Al Einstein', 'city': 'Denver', 'state': 'CO'}

WV
{'name': 'John Henry', 'city': 'Hinton', 'state': 'WV'}
{'name': 'Randy Moss', 'city': 'Rand', 'state': 'WV'}

NC
{'name': 'Nicole K', 'city': 'Asheville', 'state': 'NC'}
{'name': 'Jim Doe', 'city': 'Charlotte', 'state': 'NC'}
{'name': 'Jane Taylor', 'city': 'Faketown', 'state': 'NC'}

In [64]:
for key, group in person_group:
    print(key , len(list(group)))

NY 2
CO 2
WV 2
NC 3

In [71]:
copy1, copy2 = itertools.tee(person_group)

for copy1, copy2 in person_group:
    print(copy1, list(copy2))

NY [{'name': 'John Doe', 'city': 'Gotham', 'state': 'NY'}, {'name': 'Jane Doe', 'city': 'Kings Landing', 'state': 'NY'}]
CO [{'name': 'Corey Schafer', 'city': 'Boulder', 'state': 'CO'}, {'name': 'Al Einstein', 'city': 'Denver', 'state': 'CO'}]
WV [{'name': 'John Henry', 'city': 'Hinton', 'state': 'WV'}, {'name': 'Randy Moss', 'city': 'Rand', 'state': 'WV'}]
NC [{'name': 'Nicole K', 'city': 'Asheville', 'state': 'NC'}, {'name': 'Jim Doe', 'city': 'Charlotte', 'state': 'NC'}, {'name': 'Jane Taylor', 'city': 'Faketown', 'state': 'NC'}]

---

In [1]:
palavra = 'Clarice'
palavra.find('r')  #retorna a posição

3

In [2]:
palavra.startswith('C')

True

In [3]:
palavra.endswith('a')

False

---

https://www.kaggle.com/andrej0marinchenko/data-sciencetutorial-for-beginners-predict-fs/data

In [13]:
#nested function
def square(x = 2,y = 3):
    """ return square of value """
    def add(x = x,y = y):
        """ add two local variable """     
        x = x
        y = y
        z = x + y
        return z
    return add(x = x,y = y)**2

In [16]:
square(x=1,y=2)

9

DEFAULT and FLEXIBLE ARGUMENTS


* Default argument example:

def f(a, b=1):
  ` b = 1 is default argument`
  
* Flexible argument example:

def f(*args):
 ` *args can be one or more`
 
* def f(** kwargs)

 ` **kwargs is a dictionary`

In [17]:
# flexible arguments *args
def f(*args):
    for i in args:
        print(i)

In [20]:
f(1)
print('')
f(1,2,3,4)

1

1
2
3
4

In [21]:
# flexible arguments **kwargs that is dictionary
def f(**kwargs):
    """ print key and value of dictionary"""
    for key, value in kwargs.items():  # If you do not understand this part turn for loop part and look at dictionary in for loop
        print(key, " ", value)

In [22]:
f(country = 'spain', capital = 'madrid', population = 123456)

country   spain
capital   madrid
population   123456

In [23]:
# lambda function
square = lambda x: x**2     # where x is name of argument
print(square(4))
tot = lambda x,y,z: x+y+z   # where x,y,z are names of arguments
print(tot(1,2,3))

16
6

ANONYMOUS FUNCTİON
Like lambda function but it can take more than one arguments.

* map(func,seq) : applies a function to all the items in a list

In [24]:
number_list = [1,2,3]
y = map(lambda x:x**2,number_list)
print(list(y))

[1, 4, 9]

### ITERATORS
* iterable is an object that can return an iterator
* iterable: an object with an associated iter() method

example: list, strings and dictionaries

* iterator: produces next value with next() method

In [25]:
# iteration example
name = "ronaldo"
it = iter(name)
print(next(it))    # print next iteration
print(*it)         # print remaining iteration

r
o n a l d o

In [26]:
# zip example
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1,list2)
print(z)
z_list = list(z)
print(z_list)

<zip object at 0x00000204234E4800>
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [27]:
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip) # unzip returns tuple
print(un_list1)
print(un_list2)
print(type(un_list2))

(1, 2, 3, 4)
(5, 6, 7, 8)
<class 'tuple'>

### LIST COMPREHENSİON
***One of the most important topic of this kernel***

We use list comprehension for data analysis often.

list comprehension: collapse for loops for building lists into a single line

Ex: num1 = [1,2,3] and we want to make it num2 = [2,3,4]. This can be done with for loop. However it is unnecessarily long. We can make it one line code that is list comprehension.

In [28]:
# Example of list comprehension
num1 = [1,2,3]
 
# result for i in interable
num2 = [i + 1 for i in num1 ]
print(num2)

[2, 3, 4]

[i + 1 for i in num1 ]: list of comprehension

i +1: list comprehension syntax

for i in num1: for loop syntax

i: iterator

num1: iterable object

In [29]:
# Conditionals on iterable
num1 = [5,10,15]

# (do this) if condition else (do this) if condition else (do this) for i in list
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]
print(num2)

[0, 100, 20]

In [ ]:
# lets return csv and make one more list comprehension example
# lets classify whether 1 column have high or low items.
threshold = sum(data.item_price)/len(data.item_price)
data["item_price_level"] = ["high" if i > threshold else "low" for i in data.item_price]
data.loc[:10,["item_price_level","item_price"]] # we will learn loc more detailed later

---

In [30]:
lista = [11122233344, 22233344455, 33344455566]

In [31]:
lista.append(11122233344) #funciona!

## Conhecendo o set

E agora? Será que o Python não oferece alguma coleção onde não podem existir elementos duplicados? Claro que existe uma coleção com esse propósito e ela se chama set.

Veja o mesmo exemplo, mas agora inicializando um set:

In [32]:
colecao = {11122233344, 22233344455, 33344455566}

In [33]:
colecao.add(44455566677) #vai adicionar pois não existe ainda

In [34]:
colecao

{11122233344, 22233344455, 33344455566, 44455566677}

In [35]:
colecao.add(11122233344) #nao vai adicionar pois este CPF já existe!

In [36]:
colecao

{11122233344, 22233344455, 33344455566, 44455566677}

set não possui um índice
É importante notar que o set não é uma sequência, pois não tem um índice. O código abaixo não funciona:

In [39]:
colecao[0]

TypeError: 'set' object is not subscriptable

In [40]:
for cpf in colecao:
     print(cpf)

11122233344
44455566677
33344455566
22233344455

### Resumindo
Um set é uma coleção não ordenada de elementos. Cada elemento é único, isso significa que não existem elementos duplicados dentro do set.

---

In [41]:
pessoa1 = ("Nico", 39)
pessoa2 = ("Flavio", 37)
pessoa3 = ("Marcos", 30)

instrutores = [pessoa1, pessoa2, pessoa3]
instrutores

[('Nico', 39), ('Flavio', 37), ('Marcos', 30)]

In [42]:
instrutores[1][1]
37

37

In [44]:
instrutores['Flavio']

TypeError: list indices must be integers or slices, not str

Só que isso não vai funcionar com lista, nem com tuple, nem combinando os dois :( É preciso usar uma nova estrutura de dados, o Dictionary!


### Conhecendo o dictionary,

Para criar um dicionário devemos inicializar os instrutores de um modo um pouco diferente. Veja o código:

In [45]:
instrutores = {'Nico' : 39, 'Flavio': 37, 'Marcos' : 30}

In [46]:
instrutores['Flavio']

37

In [47]:
d

NameError: name 'df' is not defined